# Default values for lab6.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: nginx
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This is for app configuration
configEnv:
  APP_MODE: "test"
secretsEnv:
  username: admin
  password: secret
configFile:
  indexHtml: |
    <html>
    <body><h1>Hello from Helm!</h1></body>
    </html>
# This is for persistent volume claim 
pvc:
  enabled: true
  storage: 1Gi

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 80

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: lab6.rs2i
      paths:
        - path: /
          pathType: Prefix
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
startupProbe:
  exec:                  # ==> pod keeps restarting (it does not recreate the pod only restart container)
    command: ["sh", "-c", "ls /usr/share/nginx/html/index.html"] 
  failureThreshold: 30
  periodSeconds: 5
livenessProbe:             # We can change path or port to simulate livenessProbe failure
  httpGet:                 # ==> pod keeps restarting (it does not recreate the pod only restart
    path: /         # the container inside)
    port: 80
  initialDelaySeconds: 5
  periodSeconds: 5
readinessProbe:            # We can change path or port to simulate readinessProbe failure 
  httpGet:                 # ==> pod stuck in a non ready state, kubelet take it out of service
    path: /
    port: 80
  initialDelaySeconds: 5
  periodSeconds: 5

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80